{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Mileages{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static 'js/plotly.v1.30.0.min.js' %}"></script>
  <select class="form-control" name="car" id="car" onChange="get_mileages_graph()">
    <option value="">-- Select Car --</option>
    {% for c in car %}
    <option value={{ c.id }}>{{ c.model }}</option>
    {% endfor %}
  </select>
<div id="graph"></div>
<div id="list"></div>
<script type="text/javascript">
  'use strict';
  function get_mileages_graph(){
      var id=$("#car").val();
      $.ajax({
	  type: "GET",
	  url: "get_mileages/"+id,
      }).done(function(msg){
	  var data = [];
	  for(var i=0;i<msg.dates.length;i++){
	      var trace = {
		  x : msg.dates[i],
		  y : msg.mileages[i],
		  type : 'scatter',
		  name : msg.years[i],
	      }
	      data.push(trace);
	  }
	  var layout = {
	      title : "Milages",
	      xaxis : {
		  tickvals : [
		      "{{ current }}-01-15",
		      "{{ current }}-02-15",
		      "{{ current }}-03-15",
		      "{{ current }}-04-15",
		      "{{ current }}-05-15",
		      "{{ current }}-06-15",
		      "{{ current }}-07-15",
		      "{{ current }}-08-15",
		      "{{ current }}-09-15",
		      "{{ current }}-10-15",
		      "{{ current }}-11-15",
		      "{{ current }}-12-15",
		  ],
		  ticktext : [
		      "Jan",
		      "Feb",
		      "Mar",
		      "Apr",
		      "May",
		      "Jun",
		      "Jul",
		      "Aug",
		      "Sep",
		      "Oct",
		      "Nov",
		      "Dec",
		  ]
	      }
	  }
	  Plotly.newPlot('graph', data, layout);
      });
  }
</script>
{% endblock %}
