{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS Files
        ========================================================================= --> 
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="https://bootswatch.com/" class="navbar-brand">Bootswatch</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="https://bootswatch.com/united/#" id="themes">Themes <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="https://bootswatch.com/default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="https://bootswatch.com/cerulean/">Cerulean</a></li>
                <li><a href="https://bootswatch.com/cosmo/">Cosmo</a></li>
              </ul>
            </li>
            <li>
              <a href="https://bootswatch.com/help/">Help</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com/">Blog</a>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="https://bootswatch.com/united/#" id="download">United <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="https://jsfiddle.net/bootswatch/cvLkpsx0/">Open Sandbox</a></li>
                <li><a href="https://bootswatch.com/united/_bootswatch.scss">_bootswatch.scss</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">
      <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <!-- Plugins for Bootstrap -->
      <!-- script src="js/bootstrap.min.js"></script-->
      <!-- Jquery Appear -->
      <!-- script src="js/jquery.appear.js"></script-->

      <div class="page-header" id="banner">
        <div class="row">
          <div>
            <h1>United</h1>
            <p class="lead">Ubuntu orange and unique font</p>
	    <div>
		{% block content %}{% endblock %}
            </div>
          </div>
	</div>
      </div>
    </div>

  <footer>
    <div class="footer3">
      <div class="container text-center">
	COPYRIGHT &copy; 2017 - aka-minnie.com
      </div>
    </div>
  </footer>

</body>
</html>
